{% extends 'CupHomeBundle::layout.html.twig' %}

{% block body -%}
    <h1>UserBeats</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Win</th>
                <td>{{ entity.win }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('userbeats') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('userbeats_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
