{% extends 'SkokiOrlikBundle::layout.html.twig' %}

{% block content -%}
    <h1>News</h1>


{% autoescape false %}
    <table class="record_properties">
        <tbody>
            <tr>
                <td><h2>{{ entity.title }}</h2></td>
            </tr>
            <tr>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            {#<tr>#}
                {#<th>Introduction</th>#}
                {#<td>{{ entity.introduction }}</td>#}
            {#</tr>#}
            <tr>
                <td>{{ entity.getContent }}</td>
            </tr>
            {#<tr>#}
                {#<th>Id</th>#}
                {#<td>{{ entity.id }}</td>#}
            {#</tr>#}
        </tbody>
    </table>
{% endautoescape %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('news') }}">
            Powrót do aktualności
        </a>
    </li>
    {#<li>#}
        {#<a href="{{ path('news_edit', { 'id': entity.id }) }}">#}
            {#Edit#}
        {#</a>#}
    {#</li>#}
    {#<li>{{ form(delete_form) }}</li>#}
</ul>
{% endblock %}
