<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
    <meta name="robots" content="noindex,nofollow" />
    <title>{% block title %}Liga typerów{% endblock %}</title>
    <link href="{{ asset('bundles/framework/css/structure.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/framework/css/body.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/skokiorlik/css/cup.css') }}"  rel="stylesheet" type="text/css" media="all"/>
    {#<link href="../../public/css/cup.css" rel="stylesheet" type="text/css" media="all" />#}
    {% block head %}{% endblock %}
    <script>
        $(document).ready(function () {
            $("#league-table").tablesorter( {sortList: [[11,0], [8,0]]} );
            {% block documentReady %}{% endblock documentReady %}
        });
    </script>
</head>
<body>
{% block menu_header %}
    {{ knp_menu_render('CupHomeBundle:Builder:mainMenu') }}
{% endblock %}
<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>
{% for type, messages in app.session.flashbag.all() %}
    {% for key, message in messages %}
        <div class="flash-{{ type }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endfor %}
<div>
    {#{% block fos_user_content %}#}
    {#{% endblock fos_user_content %}#}
</div>
{#{% extends 'SkokiOrlikBundle::layout2.html.twig' %}#}





<div id="flexible-grid" class="">
    {% block body %}{% endblock %}
</div>


</body>
</html>
