{% extends 'SkokiOrlikBundle::layout.html.twig' %}

{% block content -%}
    <h1>Players list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Userid</th>
                <th>Age</th>
                <th>Height</th>
                <th>Country</th>
                <th>Pozycja</th>
                <th>Other</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('player_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.firstname }}</td>
                <td>{{ entity.lastname }}</td>
                <td>{{ entity.userId }}</td>
                <td>{{ entity.age }}</td>
                <td>{{ entity.height }}</td>
                <td>{{ entity.country }}</td>
                <td>{{ entity.pozycja }}</td>
                <td>{{ entity.other }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('player_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('player_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('player_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
