{% extends 'SkokiOrlikBundle::layout.html.twig' %}

{% block title %}SkokiOrlikBundle:Match:show{% endblock %}

{% block content_header '' %}

    {% block menu_header %}
        {{ knp_menu_render('SkokiOrlikBundle:Builder:mainMenu') }}
    {% endblock %}

    {% block content %}
    <div class="block-data">
    <h2 class="title">Szczegóły meczu:</h2>
        <div class="block_match_info real-content clearfix " id="">

            <div class="clearfix" style="display: block;">
                <div class="container left" style="width: 30%; float: left;">
                    <h3 class="thick">
                        <a href="{{ path('_orlik_show_team', {'id' : match.home_id}) }}">{{ match.home_name }}</a>
                    </h3>

                    <div class="form clearfix">
                        {% include 'SkokiOrlikBundle:Team:TeamForm.html.twig' with {'teamForm': teams_form.home} %}
                    </div>
                </div>

                <div class="container middle" style="width: 40%; float: left;">
                    <h3 class="thick scoretime ">
                        {{ match.score }}
                    </h3>
                </div>

                <div class="container right" style="width: 30%; float: right;">
                    <h3 class="thick">
                        <a href="{{ path('_orlik_show_team', {'id' : match.away_id}) }}">{{ match.away_name }}</a>
                    </h3>
                    <div class="form clearfix">
                        {% include 'SkokiOrlikBundle:Team:TeamForm.html.twig' with {'teamForm': teams_form.away} %}
                    </div>
                </div>
            </div>
                {% set logo = 'bundles/skokiorlik/images/teams/' ~ match.home_logo %}
            <div class="clearfix"  style="display: block;">
                <div class="container left" style="width: 30%; float: left;">
                    <div class="logo">
                        <a href="{{ path('_orlik_show_team', {'id' : match.home_id}) }}" title="{{ match.home_name }}">
                            <img src="{{ asset(logo) }}" class="team-logo normal" alt="{{ match.home_name }}"/>
                        </a>
                    </div>
                </div>

                <div class="container middle" style="width: 40%; float: left;">
                    <div class="details clearfix">
                        <dl>
                            <dt>Rozgrywki</dt>
                            <dd></dd>

                            <dt>Data</dt>
                            <dd>{{ match.matchDate|date('Y-m-d') }}</dd>


                            <dt>Start</dt>
                            <dd>
                                19:00
                            </dd>
                        </dl>
                    </div>

                    <div class="details clearfix">
                        <dl>
                            <dt>Kolejka</dt>
                            <dd>{{ match.round }}</dd>
                        </dl>
                    </div>

                </div>
                    {% set logo2 = 'bundles/skokiorlik/images/teams/' ~ match.away_logo %}
                <div class="container right" style="width: 30%; float: right;">
                    <div class="logo">
                        <a href="{{ path('_orlik_show_team', {'id' : match.away_id}) }}" title="{{ match.away_name }}">
                            <img src="{{ asset(logo2) }}" class="team-logo normal" alt="{{ match.away_name }}"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
{% endblock %}
