{#{% extends "OrlikHomepageBundle::main_layout.html.twig" %}#}
{#{% extends "TwigBundle::layout.html.twig" %}#}
{% extends 'SkokiOrlikBundle::layout2.html.twig' %}
{#{% extends 'MopaBootstrapBundle::layout.html.twig' %}#}
{#{% extends 'MopaBootstrapBundle::base.html.twig' %}#}


{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/skokiorlik/css/style.css') }}" />
    {#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>#}
    {#<script type="text/javascript" href="{{ asset('bundles/skokiorlik/js/jquery-2.1.1.min.js') }}"></script>#}
    {#<script type="text/javascript" href="{{ asset('bundles/skokiorlik/js/ajax-manager.js') }}"></script>#}
    {#<script type="text/javascript" href="{{ asset('bundles/skokiorlik/js/jquery.form.js') }}"></script>#}

    {#{% stylesheets filter='cssrewrite,?yui_css'#}
    {#'@MopaBootstrapBundle/Resources/public/bootstrap/bootstrap.css'#}
    {#'@OrlikHomepageBundle/Resources/public/css/*'#}
    {#%}#}
    {#<link href="{{ asset('bundles/orlikhomepage/css/style.css') }}" type="text/css" rel="stylesheet"#}
    {#media="screen" />#}
    {#{% javascripts#}
    {#'bundles/skokiorlik/js/form_script.js'#}
    {#'bundles/skokiorlik/js/ajax-manager.js'#}
    {#'bundles/skokiorlik/js/jquery.form.js'#}
    {#'bundles/skokiorlik/js/jquery-1.7.1.min.js '%}#}
    {#<script src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
    {% javascripts '@SkokiOrlikBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock head %}

{% block title 'Orlik Skoki' %}

{% block body %}
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>
    {% for type, messages in app.session.flashbag.all() %}
        {% for key, message in messages %}
            <div class="flash-{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="top_menu">
        {% block menu_header %}
            {{ knp_menu_render('SkokiOrlikBundle:Builder:mainMenu') }}{% endblock %}
    </div>
    {% block content_header %}
        <div style="clear: both"></div>
    {% endblock %}

    <div class="container">
        <div id="orlik-left-column" class="aside">
            {% block left_content %}
                <div class="block-data smalltablebox">
                    <h2 class="title">Tabela:</h2>
                    {{ render(controller('SkokiOrlikBundle:Table:showSmallTable')) }}
                </div>
            {%  endblock %}
        </div>
        <div id="orlik-right-column" class="section">
        {% block content %}
        {% endblock %}
        </div>
        {% block middle_menu_header %}{% endblock %}


    </div>

    {% if code is defined %}
        <h2>Code behind this page</h2>
        <div class="block">
            <div class="symfony-content">{{ code|raw }}</div>
        </div>
    {% endif %}
{% endblock %}
