{% if matches|length > 0  %}
<div id="match-fixtures" class="all table-container" number="{{ matches|length }}">
    {#<div class="next-tab-button"><a href="#" onclick="nextRound();">Następne »</a></div>#}
    {#<div class="prev-tab-button"><a href="#" onclick="prevRound();">« Poprzednie</a></div>#}

{% for round_id, roundData in matches %}
    {% if roundData.status == 0 %}
    <div class="timetable round prev">
    {% elseif roundData.status == 2 %}
    <div class="timetable round lastone">
    {% elseif roundData.status == 3 %}
    <div  id="round-next" class="timetable round nextone">
    {% else %}
    <div class="timetable round next">
    {% endif %}
    <h3 id="round-{{ roundData.roundNumber }}" class="{{ roundData.status }} ">Kolejka {{ roundData.roundNumber }}:</h3>
        {% if  roundData.status == 3 %}
            <span class="najblizsza">--== NAJBLIŻSZA!!! ==--</span>
        {% endif %}
        {% block roundMatches %}
            <div class="table-container-matches round-{{ roundData.roundNumber }}">
            {% include 'SkokiOrlikBundle:Timetable:matchesList.html.twig' with {'matches': roundData.matches} %}
            </div>
        {% endblock roundMatches %}
    </div>
    {% endfor %}

</div>
{% endif %}