{% if tabela|length > 0  %}
    <div id="tabela_box" class="leaguetable">
        <table id="league-table"  class="tablesorter">
            <tr>
                <th title="Pozycja">Poz</th>
                <th title="Drużyna">Drużyna</th>
                <th title="Rozegrane mecze">RM</th>
                <th title="Wygrane">W</th>
                <th title="Przegrane">P</th>
                <th title="Remisy">R</th>
                <th title="Bramki zdobyte">BZ</th>
                <th title="Bramki stracone">BS</th>
                <th title="Różnica bramek">RB</th>
                <th title="Czerwone" class="hidden-md">R</th>
                <th title="Żółte" class="hidden-md">Y</th>
                <th title="Punkty">Pkt</th>
                <th title="Forma">Forma</th>
            </tr>
            {% set iterator = 1 %}
            {% for team in tabela %}
                {% if iterator % 2 == 0 %}
                    <tr class="team_rank even">
                {% else %}
                    <tr class="team_rank odd">
                {% endif %}
                    <td class="rank">{{ iterator }}</td>
                    <td class="text team">
                        {% set logo = 'bundles/skokiorlik/images/teams/small/' ~ team.logo %}
                        <img src="{{ asset(logo) }}" class="team-logo icon-small" alt="{{ team.teamName }}"/>
                        <a href="{{ path('_orlik_show_team', {'id' : team.teamId}) }}">{{ team.teamName }}</a>
                    </td>
                    <td>{{ team.teamMatchesPlayed }}</td>
                    <td>{{ team.teamWins }}</td>
                    <td>{{ team.teamLoses }}</td>
                    <td>{{ team.teamDraws }}</td>
                    <td>{{ team.teamGoals }}</td>
                    <td>{{ team.teamLostGoals }}</td>
                    {% set roznica = team.teamGoals - team.teamLostGoals %}
                    <td>{{ roznica }}</td>
                    <td class="hidden-md">{{ team.teamReds }}</td>
                    <td class="hidden-md">{{ team.teamYellows }}</td>
                    <td>{{ team.teamPkt }}</td>
                    <td class="team_form_col">
                    {% if team.teamForm|length > 0  %}
                        {% block teamForm %}
                            {% include 'SkokiOrlikBundle:Team:TeamForm.html.twig' with {'teamForm': team.teamForm} %}
                        {% endblock %}
                    {% endif %}
                    </td>
                </tr>
                {% set iterator = iterator + 1 %}
            {% endfor %}
        </table>
    </div>
{% endif %}