{% extends '::base.html.twig' %}

{% block body -%}
    <h1>cup_group</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('cup_group') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('cup_group_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    <h2>Drużyny</h2>
    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Logo</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in teams %}
            <tr>
                <td><a href="{{ path('cup_team_show', { 'id': entity.cupTeam.id }) }}">{{ entity.cupTeam.id }}</a></td>
                <td>{{ entity.cupTeam.name }}</td>
                <td>{{ entity.cupTeam.logo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
